{{ define "main" -}}
<div><a class="td-offset-anchor"></a></div>
<section class="row td-box td-box--primary position-relative td-box--height-auto">
  <div class="col-12">
    <div class="container text-center td-arrow-down">
      <span class="h4 mb-0">
        <h1>{{ .Title }}</h1>
        {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
      </span>
    </div>
  </div>
</section>

<div class="container">
    {{ with .Content -}}
    <div class="td-content">
    {{ . }}
    </div>
    {{- end -}}
</div>

{{ end }}
