/* Bootstrap classes - _styles_project.scss */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/FiraSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/FiraSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/FiraSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraSans-Bold.woff2') format('woff2');
}


/* Stylez */
.h1,
.h2,
.h3 {
    font-weight: 700 !important;
}

.td-navbar {
    .nav-link {
        font-weight: 400 !important;

        &:hover {
            color: $white;
        }
    }

    .td-search__input {
        background-color: darken($primary, 5%);
    }
}

.td-sidebar-link {
    &:hover {
        color: $primary !important;
    }
}

section.header p {
    font-weight: 400 !important;
}

.td-box {
    div {
        div {
            p {
                img {
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}


div.td-arrow-down p {
    font-weight: 300 !important;
}

header.article-meta {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-400;
}

.td-overlay--dark::after {
    background-color: transparent !important;
}

.narrow-paragraph {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25rem; /* Slightly larger font size (20px) */
    line-height: 1.6; /* Increase line height for better readability */
    font-weight: 400; /* Optional: Adjust weight for optimal readability */
}

/* Customizations */

.td-page-meta__view  { display: none !important; }
.td-page-meta__edit  { display: none !important; }
.td-page-meta__child  { display: none !important; }
.td-page-meta__issue  { display: none !important; }
.td-page-meta__project-issue  { display: none !important; }
