{{ define "main" -}}
<div class="container">
    <h1>
        {{ .Title }}
    </h1>
    <ul class="postlist-style-circle postlist simple">
        {{- range (where site.RegularPages "Section" "blog") }}
        <li>
            <h3>
                <a href="{{ .Permalink }}" title="Read {{ .Title }}" rel="bookmark">
                    {{ .Title }}
                </a>
            </h3>
            {{ if .Date }}
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
            {{ end }}
            <p>
                {{ if .Description }}{{ .Description }}{{ else }}
                {{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}
                {{ if .Truncated }}
                ...
                {{ end }}
                <a href="{{ .RelPermalink }}">
                    read more
                </a>
            </p>
            <hr>
        </li>
        {{- end }}
    </ul>
</div>
{{- end }}
