<h2>Development</h2>

<ul>
    <li><a href="/contribute">Contribute to Katzenpost</a></li>
    <li><a href="https://github.com/katzenpost/katzenpost/tree/main/docs/HACKING">Getting started in Katzenpost development</a></li>
    <li><a href="https://katzenpost.network/docs/setup.html">How to Set Up Your Own Katzenpost Mixnet</a></li>
    <li><a href="https://github.com/katzenpost/katzenpost">Codebase</a></li>
    <li><a href="https://godoc.org/?q=katzenpost">godocs: Go package documentation</a></li>
</ul>
